[submodule "stac-repos/stac-spec"]
	path = stac-repos/stac-spec
	url = https://github.com/radiantearth/stac-spec.git
[submodule "stac-repos/scientific"]
	path = stac-repos/scientific
	url = https://github.com/stac-extensions/scientific.git
